.wholeContainer{
    background-color: aqua;
    height: 100vh;
}
.registration-container{
    margin: auto;
    width: 500px;
}
.form-row{
    padding: 10px 0px;
}
.heading{
    padding: 14px;
    /* margin: auto; */
    background-color: deepskyblue;
    width: 100%;
    color: white;
    text-align: center;
}