.card-screen{
    background-color: coral;
    width: 241px;
    height: 142px;
    margin:auto;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
}
.card-keyboard{
    height: 125px;
    margin: auto;
    border-bottom: 126px solid #cebbbb;
    border-left: 31px solid transparent;
    border-right: 29px solid transparent;
    width: 300px;
    border-top: none;
    border-top-left-radius: unset;
    border-top-right-radius: unset; 
}