<div class="container">
  <div class="card card-screen"></div>
  <div class="card card-keyboard">
    <div class="card-keyboard-amt">
      <a class="float-right">{{ 740 | currency: "INR":true }}</a>
    </div>
    <div class="card-keyboard-details">
      <div>
        <h6>FullStack Development</h6>
        <p>
          There is a 20 percent growth in demand for 'full stack developers
          compared to last year.'
        </p>
      </div>
    </div>
    <div class="card-keyboard-icons">
      <div class="float-left ">
        <i class="fa fa-cloud-download" aria-hidden="true"></i
        ><span>CURRICULUM</span>
      </div>
      <div class="float-right">
        <i class="fa fa-check-circle" aria-hidden="true"></i
        ><span>ENROLL NOW</span>
      </div>
    </div>
  </div>
</div>
