<h3>Array operations</h3>
<div >
  <ol>
    <li>
        <a (click)= mapdemo() >map() demo1</a>
    </li>
    <li>
        <a (click)= mapdemo2() >map() demo2</a>
    </li> 
    <li>
        <a (click)= forEachDemo2() >forEach()</a>
    </li> 
    <li>
        <a (click)= mapManipulateObj() >map() manipulate obj</a>
    </li> 
    <li>
        <a (click)= filterDemo() >filter() Demo</a>
    </li> 
    <li>
        <a (click)= reduceArr() >reduce()</a>
    </li> 
    <li>
        <a (click)= reduceArr1() >reduce() demo1</a>
    </li>     
    <li>
        <a (click)= reduceArr2() >reduce() demo2</a>
    </li> 
    <li>
        <a (click)=  reduceArr3() >reduce() demo3</a>
    </li> 
  </ol>    
</div>
