<h1>first angular application</h1>
<hr />
<!-- <app-header></app-header>
<app-server></app-server>
<app-bindings></app-bindings> -->

<!-- <div class="container">
    <app-cockpit (serverElementAdded)="onServerElementAdded($event)"></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
            <button class ="btn btn-danger" (click)="onDestroyFirst()">Destroy First Element</button>
            <app-server-element *ngFor="let serverElement of serverElements" 
            [serverElementObj]="serverElement"
            [name]="serverElement.name"></app-server-element>
        </div>
    </div>
</div> -->

<!-- ----------------account, new account, service creation ,---------------- -->
<!-- <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>
            <hr>
            <app-account
              *ngFor="let acc of accounts; let i = index"
              [account]="acc"
              [id]="i"
              (statusChanged)="onStatusChanged($event)"></app-account>
          </div>
        </div>
      </div> -->
<!-- ------------------------------------------------------------------------------- -->

<!-- ----------------------register ,form , form details , input , output ----------------------- -->
<!-- <app-register></app-register> -->
<!-- ------------------------***------------------------------- -->

<!-- ----------------------- input & output decorators  -- parent & child components --------------- -->

<div style="text-align:center">
  <h1>Learning input & output decorators</h1>
  <app-parent></app-parent>
</div>

<!-- ------------------------------------------------------------------------------- -->
