<!-- <p>
 <button (click)="setMessage()">set</button>
</p> -->
<h2>Api call using services</h2>
<div class="tab">
  <table>
    <tr>
      <th>Id</th>
      <th>PostId</th>
      <th>Name</th>
      <th>Email</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let item of comments">
      <td>{{ item.id }}</td>
      <td>{{ item.postId }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.body }}</td>
    </tr>
  </table>
</div>


<h2>Get request using parameters userid = 2 </h2>
<div class="tab">
  <table>
  <tr>
    <th>Id</th>
      <th>UserId</th>
      <th>Title</th>
      <th>Body</th>
  </tr>
  <tr *ngFor = "let item of posts">
      <td>{{item.id}}</td>
      <td>{{item.userId}}</td>
      <td>{{item.title}}</td>
      <td>{{item.body}}</td>

  </tr>
</table>
</div>
