<nav class="sidenav">
  <button
    style="margin-left: 25px;"
    class="btn btn-primary"
    (click)="loadbinding()"
  >
    binding
  </button>
  <a routerLink="/registrationform" routerLinkActive="Active"
    >RegistrationForm</a
  >
  <a routerLink="/localstorage" routerLinkActive="Active">Localstorage</a>
  <a routerLink="/lifecyclehooks" routerLinkActive="Active">lifecyclehooks</a>
  <a routerLink="/templatedriven" routerLinkActive="Active">TemplateDriven</a>
  <a routerLink="/register" routerLinkActive="Active">input output forms</a>
  <a routerLink="/reactiveform" routerLinkActive="Active">Reactive form</a>
  <a routerLink="/pipes" routerLinkActive="Active">Pipes</a>
  <a routerLink="/learni" routerLinkActive="Active">Learni card</a>
  <a routerLink="/arrayoper" routerLinkActive="Active">Array Operations</a>
  <a routerLink="/timeoutFunctions" routerLinkActive="Active">Time intervals</a>
  <a routerLink="/virtualkeyboard" routerLinkActive="Active">virtual keyboard</a>
  <a routerLink="/dataSharing" routerLinkActive="Active">Data Sharing</a>
  <a routerLink="/ngTemplate" routerLinkActive="Active">Ng Template</a>

</nav>
