<nav class="sidenav">
  <button style="margin-left: 25px;" class="btn btn-primary" (click) = "loadbinding()">binding</button>
  <a routerLink="/registrationform" routerLinkActive="Active">RegistrationForm</a>
  <a routerLink="/localstorage" routerLinkActive="Active">Localstorage</a>
  <a routerLink="/lifecyclehooks" routerLinkActive="Active">lifecyclehooks</a>
  <a routerLink="/templatedriven" routerLinkActive="Active">TemplateDriven</a>
  <a routerLink="/register" routerLinkActive="Active">input output forms</a>

</nav>
 